apiVersion: v1
 kind: Deployment
 metadata:
   name: {{POD_NAME}}
   labels:
     app: {{POD_NAME}}
 spec:
   containers:
     - name: {{POD_NAME}}
       image: {{CONG_IMG_PATH}}
       imagePullPolicy: Always
       ports:
         - containerPort: 5000
           protocol: TCP
         - containerPort: 5001
           protocol: TCP
       volumeMounts:
         - name: data-volume
           mountPath: /data
   volumes:
     - name: data-volume
       emptyDir:  {}
     - name: cong-config
       configMap:
         name: {{CONFIGMAP_NAME}}
         items:
           - key: workflow
             path: workflow
           - key: config_encoded
             path: config
