apiVersion: v1
kind: Pod
metadata:
  name: {{POD_NAME}}
  labels:
    app: {{POD_NAME}}
spec:
  containers:
    - name: {{POD_NAME}}
      image: {{CONG_IMG_PATH}}
      imagePullPolicy: Always
      ports:
        - containerPort: 5000
          protocol: TCP
        - containerPort: 5001
          protocol: TCP
      env:
        - name: INFRA
          value: {{INFRA}}
        - name: STORAGE_HANDLER_CONFIG
          value: {{STORAGE_HANDLER_CONFIG}}
        - name: SOURCE_BUCKET
          value: {{SOURCE_BUCKET}}
        - name: SOURCE_KEY
          value: {{SOURCE_KEY}}
        - name: WRITE_PATH
          value: {{WRITE_PATH}}
        - name: DESTINATION_BUCKET
          value: {{DESTINATION_BUCKET}}
      volumeMounts:
        - name: data-volume
          mountPath: /data
        - name: cong-config
          mountPath: /config
  volumes:
    - name: data-volume
      emptyDir:  {}
    - name: cong-config
      configMap:
        name: {{CONFIGMAP_NAME}}
        items:
          - key: workflow
            path: workflow
          - key: config_encoded
            path: config
          - key: protocol_encoded
            path: protocol
          - key: curia_config_encoded
            path: curia_config
