apiVersion: v1
kind: Service
metadata:
  name: {{SERVICE_NAME}}
  labels:
    app: {{POD_NAME}}
spec:
  selector:
    app: {{POD_NAME}}
  type: LoadBalancer
  loadBalancerIP: {{SERVICE_IP}}
  ports:
    - protocol: TCP
      port: {{SERVICE_PORT}}
      targetPort: {{SERVICE_PORT}}
      nodePort: {{NODE_PORT}}
